<!DOCTYPE html>
<head>
  <title>David A. Henry - AI Tools</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='cocktail.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='cocktail.png') }}" class="icon" />
  <h3>Your Personal Mixologist</h3>
  <h4>What are you having for dinner?</h4>
  <form action="/dinnerDrinkPairing" method="post">
    <input type="text" name="dinner" placeholder="What are you having for dinner?" required />
    <input type="submit" value="Generate cocktail suggestions" />
  </form>
  {% if result %}
  <p>The following cocktails would pair well with your meal!</p>
  <p>{{ result }}</p>
  {% endif %}
</body>
