<!DOCTYPE html>
<head>
  <title>David A. Henry - AI Tools</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='cocktail.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='cocktail.png') }}" class="icon" />
  <h3>Your Personal Mixologist</h3>
  <h4>Tell me what you have on hand and I will share some inspiration for cocktails you can make with these ingredients?</h4>
  <form action="/personalBarTender" method="post">
    <input type="text" name="shoppingList" placeholder="List three ingredients that are in your cart" required />
    <input type="submit" value="Generate cocktail ideas" />
  </form>
  {% if result %}
  <p>With these ingredients you could make these cocktails:</p>
  <p>{{ result }}</p>
  {% endif %}
</body>
