<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David A. Henry - Projects & Adventures</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='DavidHenryIcon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <header>
        <h1 class="nospace" style="text-align: center">Projects and Adventures Worth Mentioning</h1>
        <p class="nospace" style="text-align: center">A list of projects and adventures I've completed over the years.  Compiled here for easy personal reference.</p>
        <p class="nospace" style="text-align: center">- - -</p>
    </header>
    <main>
        <ul class="nospace">
            <li>The Canoe Build </li>
            <li>Bikepacking the Colorado Trail</li>
            <li>200 not on 100</li>
            <li>Brevardnar - A one day through hike of the Art Loeb Trail</li>
        </ul>
    </main>
