<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David A. Henry - Quotes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='DavidHenryIcon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <header>
        <h1 class="nospace" style="text-align: center">Quotes of Note</h1>
        <p class="nospace" style="text-align: center">A list of quotes that I find thought provoking.  Compiled here for easy personal reference.</p>
        <p class="nospace" style="text-align: center">- - -</p>
    </header>
    <main>
        <ul class="nospace">
            <li>“Honesty is stronger medicine than sympathy, which may console but often conceals.” - <cite>Gretel Ehrlich</cite></li>
            <li>“I do not pretend to understand the moral universe, the arc is a long one, my eye reaches but little ways. I cannot calculate the curve and complete the figure by the experience of sight; I can divine it by conscience. But from what I see I am sure it bends towards justice.” – <cite>Theodore Parker</cite></li>
            <li>"Don't be afraid to feel as angry or as loving as you can, because when you feel nothing, it's just death." - <cite>Lena Horne</cite></li>
            <li>“I would rather have questions that can’t be answered than answers that can’t be questioned.” – <cite>Richard Feynman</cite></li>
            <li>“What if truth is just a particularly detailed kind of fiction?” – <cite>Riley Goodside</cite></li>
            <li>“If you can not measure it, you can not improve it” – <cite>Lord Kelvin</cite></li>
            <li>“” – <cite>Person</cite></li>
        </ul>
    </main>
