<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David A. Henry - Quotes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='DavidHenryIcon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <header>
        <h1 class="nospace" style="text-align: center">Quotes of Note</h1>
        <p class="nospace" style="text-align: center">A list of quotes that I find thought provoking.  Compiled here for easy personal reference.</p>
        <p class="nospace" style="text-align: center">- - -</p>
    </header>
    <main>
        <ul class="nospace">
            <li>“Honesty is stronger medicine than sympathy, which may console but often conceals.” - <cite>Gretel Ehrlich</cite></li>
            <li>“I do not pretend to understand the moral universe, the arc is a long one, my eye reaches but little ways. I cannot calculate the curve and complete the figure by the experience of sight; I can divine it by conscience. But from what I see I am sure it bends towards justice.” – <cite>Theodore Parker</cite></li>
            <li>"Don't be afraid to feel as angry or as loving as you can, because when you feel nothing, it's just death." - <cite>Lena Horne</cite></li>
            <li>“I would rather have questions that can’t be answered than answers that can’t be questioned.” – <cite>Richard Feynman</cite></li>
            <li>“What if truth is just a particularly detailed kind of fiction?” – <cite>Riley Goodside</cite></li>
            <li>“If you can not measure it, you can not improve it” – <cite>Lord Kelvin</cite></li>
            <li>"That's really what mathematics is.  Seeing the connection between different ideas."<cite>Gilbert Strang</cite></li>
            <li>“Love isn't something natural.  Rather it requires discipline, concentration, patience, faith, and the overcoming of narcissism.  It isn't a feeling, it is a practice.” – <cite>Erich Fromm</cite></li>
            <li>“Love is not primarily a relationship to a specific person; it is an attitude, an ordination of character which determines the relatedness of the person to the whole world as a whole, not toward one object of love” - <cite>Erich Fromm</cite></li>
            <li>“Love means to commit oneself without guarantee, to give oneself completely in the hope that our love will produce love in the loved person. Love is an act of faith, and whoever is of little faith is also of little love.”  - <cite>Erich Fromm</cite></li>
            <li>“Love is a decision, it is a judgment, it is a promise. If love were only a feeling, there would be no basis for the promise to love each other forever. A feeling comes and it may go. How can I judge that it will stay forever, when my act does not involve judgment and decision.”  - <cite>Erich Fromm</cite></li>
            <li>“We have two lives... the life we learn with and the life we live after that. Suffering is what brings us towards happiness.”- <cite>Bernard Malamud</cite></li>
            <li>"I wish I could show you, when you are lonely or in darkness, the astonishing light of your own being." - <cite>Hafez</cite></li>
            <li>"It may seem like an illogical arrangement of material," but "...learning is strangely illogical. It is only teaching which aims to be logical and in so doing it often misses the necessary contact which results in learning." - <cite>Hilda Worthington</cite></li>
            <li>“When your eyes are tired the world is tired also. When your vision has gone no part of the world can find you. Time to go into the dark where the night has eyes to recognize its own. There you can be sure you are not beyond love. The dark will be your womb tonight. The night will give you a horizon further than you can see. You must learn one thing. The world was made to be free in. Give up on all other worlds except the one to which you belong. Sometimes it takes darkness and the sweet confinement of your aloneness to learn anything or anyone that does not bring you alive is too small for you.” - <cite>David Whyte</cite></li>
            <li>"Do not neglect to show hospitality to strangers, for thereby some have entertained angels unawares."- <cite>Heb. 13:2</cite></li>
            <li>"If you do not answer the noise and urgency of your gifts, they will turn on you. Or drag you down with their immense sadness at being abandoned." - <cite>Joy Harjo</cite></li>
            <li>“You have to systematically create confusion, it sets creativity free. Everything that is contradictory creates life.” - <cite>Salvador Dalí</cite></li>
            <li>"We felt the presences of the wild creatures, the river, the trees, the stars. Though we had our troubles, we had them in a true perspective. The universe, as we could see any night, is unimaginably large, and mostly empty, and mostly dark. We knew we needed to be together more than we needed to be apart.” - <cite>Wendell Berry, National Treasure</cite></li>
            <li>"When critics fret that tablets on every Applebee’s table are going to fundamentally ruin our ability to sit down and talk to each other over a meal, they’re pining for an experience that is already, in many ways, gone. It died a little every time we looked up at the game instead of the person across from us, or handed the toddler the phone to play with so we could eat in peace. And Applebee’s didn’t do that; we did, a long time ago." - Mary Elizabeth Williams,
            <li>"Why do people often feel so bad in good environments that they prefer bad environments?...Why is a man apt to feel bad in a good environment, say suburban Short Hills, New Jersey, on an ordinary Wednesday afternoon? Why is the same man apt to feel good in a very bad environment, say an old hotel on Key Largo during a hurricane?" - Walker Percy
            <li>"If you are thirsty, the river comes to you. If you are not thirsty, the river does not exist." - <cite>Sat Prem</cite></li>
            <li>"The best leaders know they are good and don't think they are better than everyone else." - <cite>Simon Sinek</cite></li>
            <li>“Life is what happens to you when you’re making other plans. ” - <cite>Betty Talmadge</cite></li>
            <li>"A Tool is an innaimate object..that is until it is embued/infused with purpose and passion to get something done with that tool.  At that point learning how to use that tool is not going to be an issue" - <cite>Summarized from Paul Hawken and Growing a Business</cite></li>
            <li>"Rolling Stones Turn into Sand if they can't find a place to Stand" - <cite>Michael David Rosenberg</cite></li>
            <li>"Listening is not simply hearing the words that are spoken. Listening is understanding why the words were spoken" - <cite>Simon Sinek</cite></li>
            <li>"To achieve great things, two things are needed, a plan and not quite enough time." - <cite>Leonard Bernstein</cite></li>
            <li>Shinrin-yoku = Japanese for "forest bathing"</li>
            <li>"There is a difference between an error and a mistake.  An Error is made due to a lack of data, a mistake is not learning from your errors."</li>
            <li>"If you want to build a ship, don't start by gathering wood, cutting it into boards, and organizing the work. Instead, develop in your fellow man the yearning for the vast and endless sea." - <cite>Antoine de Saint-Exupéry</cite></li>
            <li>"Are you the type of person who views the world as a place of abundance or a place of scarcity?  Your answer to this question will define if I want to hire you." - <cite>John Henry</cite></li>
            <li>"Go Big or Go Home" - <cite>John Henry</cite></li>
            <li>"If you treat your customers like problems you pretty soon you won't have any." - <cite>John Henry</cite></li>
            <li>"I'm not interested in what you say you can do.  I am interested in what you deliver." - <cite>John Henry</cite></li>
            <li>"Don't let the search for one searing passion force you to miss out on the 20 things you can love." - <cite>James Altucher</cite></li>
            <li>"Weirdness is only weird to the alien of the weirdness" - <cite>Abe</cite></li>
            <li>"You should always keep something beautiful in your heard" - <cite>Blaise Pascal</cite></li>
            <li>"Life is short, break the rules, forgive quickly, kiss slowly, love truly, laugh uncontrollably and never regret anything that makes you smile" - <cite>Mark Twain</cite></li>     
            <li>"Specialization is for insects." - <cite>Robert A. Heinlein</cite></li>
            <li>"Inspiration usually comes during work, rather than before it"</li>
            <li>"The test of a first-rate intelligence is the ability to hold two opposing ideas in mind at the same time and still retain the ability to function." - <cite>F. Scott Fitzgerald</cite></li>
            <li>“I know that I am intelligent, because I know that I know nothing.” - <cite>Socrates</cite></li>
            "The doctor of the future will give no medicine but will interest his patients in the care of the human frame, in diet and in the cause and prevention of disease." - <cite>Thomas Edison</cite></li>
            <li>"A beginning is the time for taking the most delicate care that the balances are correct" - <cite>Opening passage of Dune by Frank Herbert</cite></li>
            <li>"Once men turned their thinking over to machines in the hope that this would set them free.  But that only permitted other men with machines to enslave them." - <cite>Reverend Mother Gaius Helem Mohiam</cite></li>
            <li>"You can't out spend the giants but you can out-think out-teach and out-help them" - <cite>Unknown</cite></li>
            <li>"Give credit where credit is due--especially if its over due" - <cite>Dharmesh Shah
            <li>"I say if I'm beautifyl.  I say if I'm strong.  You will not determine my story -- I will" - <cite>Amy Shumer</cite></li>
            <li>"You dont want everyone to see a peice of content.  You want the people who are really excited about the content to see it" - <cite>Johah Peretti</cite></li>
            <li>"In most cases the only difference between depression and disapointment is your level of commitment" - <cite>Marc Maron</cite></li>
            The one who follows the croud will usually get no further than the crowd.  The one who walks alone, is likely to find himself in places no one has ever been. - <cite>Albert Einstein</cite></li>
            <li>“There are people who make things happen, there are people who watch things happen, and there are people who wonder what happened” - <cite>John Newberry</cite></li>
            <li>"Go into the arts.  I'm not kidding.  THe arts are not a way to make a living.  They are a very human way of making life more bearable.  Practicing an art, no matter how well or badly, is a way to make your sould grow, for heaven;'s sake.  Sing in the shower. Dance to the radio.  Tell stories.  Write a poem to a friend, even a lousy poem.  Do it as well as you possibly can.  You will get an enormouse reward.  You will have created something." <cite>Kurt Vonnegut</cite></li>
            <li>"When you know where your going its easy to get there" - <cite>Unknown</cite></li>
            <li>Great people have a vision of their lives that they practice emulating each and every day.  They go to work on their lives, not just in their lives....the difference between great people and everyone else is that gerat people creative their lives actively, while everyone else is created by their lives, passively waiting to see where life takes them next. - <cite>Michael E. Gerber The E Myth Revisited</cite></li>
            <li>The difference between a warrior and an ordinary man is that a warrior sees everything as a challenge, while an ordinary man sees everything as either a blessing or a curse. - <cite>Don Juan, Carlos Castaneda's A Separate Reality</cite></li>
            <li>What truths are your curtain hiding from you? What misunderstanding keeps you where you are, in the past, in the dark, shrouded in your limited beliefs, shrinking from the world, from the light on the other side of the curtain? - <cite>Michael E. Gerber The E Myth</cite></li>
            <li>'Your arrows do not carry,' observed the Master, 'because they do not reach far enough spiritually' Eugen Herrigel Zen and the Art of Archery
            They intoxivate themselves with work so they won't see how they really are.  - <cite>Aldous Huxley</cite></li>
            <li>...my Uncle Sol had a skunk farm but the skunks caught cold and died and so my Uncle Sol imitated the skunks in a subtle manner... e. e. cummings  Collected Poems
            Drastic change creates an estrangement from the self, and generates a need for a new birth of a new identity.  And it perhaps depends on the way this need is satisfied whether the process of change runs smoothly or is attended with convulsions and explosions.  - <cite>Eric Hoffer, The Temper of Our Time</cite></li>
            <li>Systems theory looks at the world in terms of the interrelatedness of all phenomena, and in this framework an integrated whole whose properties cannot be reduced to those of its parts is called a system - <cite>Fritjog Capra, The Turning Point</cite></li>
            <li>...form is only a beginning.  It is the combination of feelins and a function; shapes and things that come to one in connection with the discoveries made as one goes into the wood that pull it together and give meaning to form.  - <cite>James Krenov, A Cabnetmaker's Notebook</cite></li>
            <li>"The driver must take charge of the horse and carriage" - <cite>Gurdjieff</cite></li>
            <li>"The system is the solution" -<cite>AT@T</cite></li>
            <li>"Life games reflect life aims" - <cite>Robert S. DeRopp, The Master Game</cite></li>
            <li>There is no such things as undesirable work....there are only people who see certain kinds of work as undesirable...people who look upon their work as a punishment for who they are and where they stand in the world, rather than as an opportunity to see themselves as they really are. - <cite>Micheal Gerber, The E Myth Revistited</cite></li>
        </ul>
        
        A COLLECTION OF FORTUNE COOKIES:
        - Have a vision.  Be demanding
        - It is more difficult to judge oneself than to judge others.
        - A true friend walks in when the rest of the world walks out.
        - He who waits to do a great deal of good all at once, will never do anything.
        - As one grows to understand life less and less, one learns to live it more and more.



        Either you will
        go through this door
        or you will not go through.
        
        If you go through
        there is always the risk
        of remembering your name.
        
        Things look at you doubly
        as you must look back
        and let them happen.
        
        If you do not go through
        it is possible to live worthily
        to maintain your attitudes
        to hold your position
        to die bravely
        
        but much will blind you,
        much will evade you, 
        at what cost who knows?
        
        The door itself
        makes no promises.
        It is only a door.  
        - Adrienne Rich


        Promise Yourself
        
         To be so strong that nothing
         can disturb your peace of mind.
         To talk health, happiness, and prosperity
         to every person you meet.
         
         To make all your friends feel
         that there is something in them
         To look at the sunny side of everything
         and make your optimism come true.
         
         To think only the best, to work only for the best,
         and to expect only the best.
         To be just as enthusiastic about the success of others
         as you are about your own.
         
         To forget the mistakes of the past
         and press on to the greater achievements of the future.
         To wear a cheerful countenance at all times
         and give every living creature you meet a smile.
         
         To give so much time to the improvement of yourself
         that you have no time to criticize others.
         To be too large for worry, too noble for anger, too strong for fear,
         and too happy to permit the presence of trouble.
         
         To think well of yourself and to proclaim this fact to the world,
         not in loud words but great deeds.
         To live in faith that the whole world is on your side
         so long as you are true to the best that is in you.
         Christian D. Larson
         "Remember the mouse on the riverbank?
         There's a love-string stretching into the water
         hoping for the frog.
         
         Suddenly a raven grips the mouse
         and flies off. The frog too, from the riverbottom,
         with one foot entangled in the invisible string,
         follows, suspended in the air.
         Amazed faces ask,
         "When did a raven ever go underwater
         and catch a frog?"
         The frog answers,
         "This is the force of Friendship."
         What draws friends together
         does not conform to Laws of Nature.
         Form doesn't know about spiritual closeness.
         If a grain of barley approaches a grain of wheat,
         an ant must be carrying it. A black ant on black felt.
         You can't see it, but if grains go toward each other,
         it's there."
         -Rumi
         
         
         "Thirty spokes join in one hub
         In its emptiness, there is the function of a vehicle
         
         Mix clay to create a container
         In its emptiness, there is the function of a container
         
         Cut open doors and windows to create a room
         In its emptiness, there is the function of a room
         
         Therefore, that which exists is used to create benefit
         That which is empty is used to create functionality"
         
         –Lao Tzu, Chapter 11, Tao Te Ching, ~600 BCE, translation by Derek Lin
         
 
         "Carpe Diem"
             Age saw two quiet children Go loving by at twilight, He knew not whether homeward, Or outward from the village, Or (chimes were ringing) churchward, He waited, (they were strangers) Till they were out of hearing To bid them both be happy. 'Be happy, happy, happy, And seize the day of pleasure.' The age-long theme is Age's. 'Twas Age imposed on poems Their gather-roses burden To warn against the danger That overtaken lovers From being overflooded With happiness should have it. And yet not know they have it. But bid life seize the present? It lives less in the present Than in the future always, And less in both together Than in the past. The present Is too much for the senses, Too crowding, too confusing- Too present to imagine. - Robert Frost
             
         If—
         BY RUDYARD KIPLING
         (‘Brother Square-Toes’—Rewards and Fairies)
         If you can keep your head when all about you   
             Are losing theirs and blaming it on you,   
         If you can trust yourself when all men doubt you,
             But make allowance for their doubting too;   
         If you can wait and not be tired by waiting,
             Or being lied about, don’t deal in lies,
         Or being hated, don’t give way to hating,
             And yet don’t look too good, nor talk too wise:
         
         If you can dream—and not make dreams your master;   
             If you can think—and not make thoughts your aim;   
         If you can meet with Triumph and Disaster
             And treat those two impostors just the same;   
         If you can bear to hear the truth you’ve spoken
             Twisted by knaves to make a trap for fools,
         Or watch the things you gave your life to, broken,
             And stoop and build ’em up with worn-out tools:
         
         If you can make one heap of all your winnings
             And risk it on one turn of pitch-and-toss,
         And lose, and start again at your beginnings
             And never breathe a word about your loss;
         If you can force your heart and nerve and sinew
             To serve your turn long after they are gone,   
         And so hold on when there is nothing in you
             Except the Will which says to them: ‘Hold on!’
         
         If you can talk with crowds and keep your virtue,   
             Or walk with Kings—nor lose the common touch,
         If neither foes nor loving friends can hurt you,
             If all men count with you, but none too much;
         If you can fill the unforgiving minute
             With sixty seconds’ worth of distance run,   
         Yours is the Earth and everything that’s in it,   
             And—which is more—you’ll be a Man, my son!
         "The truth is like a lion" - St. Augustine
         Trust begins to emerge when we have a sense that another person or organization is driven by things other than their own self-gain. - Simon Sinek
         Advice is a dangerous gift, even from the wise to the wise. - Lord of the Rings: The Fellowship of the Ring J.R.R. Tolken
         CHIEF SEATTLE'S 1854 ORATION
         It matters little where we pass the remnant of our days.  They will not be many.  A few more moons; a few more winters--and not one of the descendants of the mighty hosts that once moved over this broad land or lived in happy homes, protected by the Great Spirit, will remain to mourn over the graves of a people once more powerful and hopeful than yours.  But why should I mourn at the untimely fate of my people?  Tribe follows tribe, nation follows nation, like the waves of the sea.  It is the order of nature, and regret is useless.  Your time of decay may be distant, but it will surely come, for even the White Man whose God walked and talked with him as friend with friend, cannot be exempted from the common destiny.  We may be brothers after all.  We shall see.  - Chief Seattle
         http://www.halcyon.com/arborhts/chiefsea.html
         
    </main>
