<!DOCTYPE html>
<head>
  <title>ReserveBarAI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='cocktail.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='cocktail.png') }}" class="icon" />
  <h3>Your ReserveBar Mixologist</h3>
  <h4>What do you have in your ReserveBar shopping cart?</h4>
  <form action="/reserveBar" method="post">
    <input type="text" name="shoppingList" placeholder="List three ingredients that are in your cart" required />
    <!-- <p>Vodka, bitters, vermouth</p> -->
    <input type="submit" value="Generate cocktail ideas" />
  </form>
  {% if result %}
  <p>With these ingredients you could make these cocktails:</p>
  <p>{{ result }}</p>
  {% endif %}
  <!-- <h4>Step 2</h4>
  <form action="/frontCover" method="post">
    <input type="text" name="frontCover" placeholder="Copy over the image description" required />
    <input type="submit" value="Generate front cover" />
  </form>
  {% if coverImageResult %}
  <a href="{{ coverImageResult }}">link to image</a> 
  <img src="{{ coverImageResult }}" />
  {% endif %} -->
  
</body>
