<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David A. Henry - Talks</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='DavidHenryIcon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <header>
        <h1 class="nospace" style="text-align: center">Talks and Presentations Worth Mentioning</h1>
        <p class="nospace" style="text-align: center">A list of talks and presentations that I've given over the years.  Compiled here for easy personal reference.</p>
        <p class="nospace" style="text-align: center">- - -</p>
    </header>
    <main>
        <ul class="nospace">
            <li>2023.08.23 | Panel discussion at eTail Boston </li>
            <li>placeholder</li>
            <li>placeholder</li>
        </ul>
    </main>
